/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.blurb_rosie_login{
  display: flex; /* equal height of the children */
}

.blurb {
  float: left;
  padding:1%;
  width:28%;
  overflow: hidden;
}

.rosie {
  padding:1%;
  float: left;
  width:49%;
}

.login_div {
  padding:1%;
  width:20%;
  float: left;
}

.login_inner {
  padding: 1%;
}

.disclaimer_div{
  padding:1%;
}



.volunteer_banner, .hero_banner, .reg_everyone_banner, .reg_volunteer_banner, .reg_hero_banner {
  background-color:#fbed08;
  text-align:center;
}

.volunteer_leftover, .hero_leftover {
  padding-left:31%;
  background-color: #fffac2;
  display:none;
}


.reg_volunteer_leftover {
  background-color: #fffac2;
  display:none;
  display:flex;
}

.volunteer_availability {
  float:left;
  width:52%;
  padding:3%;
}

.volunteer_etcetera {
  float:left;
  width:43%;
  padding:3%;
}

.reg_hero_leftover {
  display:none;
  padding:3% 0% 3% 32%;
  background-color: #fffac2;
 
}

.reg_everyone_leftover {
  background-color: #fffac2;
  text-align:center;
  padding:5%;
}

.container {
    display:flex;
}  

.hero_div_register, .everyone_div_register {
  float:left;
  width:30%;
  padding:1%;
}

.volunteer_div_register {
  float:left;
  width:38%;
  padding:1%; 
}

.hero_volunteer_div {
  display:flex;  
}

.hero_div, .volunteer_div {
  float:left;
  width:48%;
  padding:1%;
}




#hero_search_div, #volunteer_search_div {
  padding-left: 25%;
}

.yellow_rectangle {
  float:left;
  width:10%;
  height:100%;
  background:#fbed08;
  margin-right:2%;
}
.results {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-basis: 0 0 21%;
  }  

  .one_result {
    float:left;
    padding-left:20px;
    padding-top:15px;
    padding-bottom:15px;
    margin: 0 auto;
    list-style: none;
    flex-basis:0 0 21%;
    width:21%;
  }  

 .app_title {
  text-align:center;
  font-size-adjust:1;
 }

  .disclaimer {
   width:40%;
   position: fixed;
   bottom: 0;
   left: 0;
   border-color:black;
   border-style:solid;
   margin-bottom: 2%;
   margin-left: 2%;
}

  .register_page {
  }

.index_search_top_bar {
  padding-top:20px;
  padding-left:20px;
  border-color:black;
  border-style:solid;
  border-width:thin;
}